#mainContainer{
    height: 100vh;
    background-color: olive;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    

}

#drawingBoard{
    background-color: white;
    border-style: solid;
    border-color: olive;
    border-width: 1px; 
    width: 498px;
    height: 498px;
    display: flex;
    /*align-items: center;
    flex-direction: row;*/
    flex-wrap: wrap;
    margin: 0%;
  
}

.drawingSquare{
    border-color: olive;
    border-style: solid;
    border-width : 1px;
    flex-basis: 5.8%;
    flex-grow: 1;
    margin: 0%;
}

.resetButton{
    background-color : orange;
    color: white;
}

.changeColor{
    background-color: orange;
    border-color: orange;
    border-style: solid;
    border-width : 1px;
    flex-basis: 5.8%;
    flex-grow: 1;
    margin: 0%;
}
