#mainContainer{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#drawingBoard{
    background-color: white;
    border-style: none;
    width: 500px;
    height: 500px;
    display: flex;
    /*align-items: center;
    flex-direction: row;*/
    flex-wrap: wrap;
    margin: 0%;
  
}

.drawingSquare{
    border-color: black;
    border-style: solid;
    border-width : 1px;
    flex-basis: 5.8%;
    flex-grow: 1;
    margin: 0%;
}

#title{
    width: 498px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.resetButton{
    background-color : black;
    color: white;
    width: 498px;
    height: 40px;
    margin-top: 2%;
}

.changeColor{
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width : 1px;
    flex-basis: 5.8%;
    flex-grow: 1;
    margin: 0%;
}
